.git
.github
.idea
.DS_Store
.env
.env.*
!.env.example
node_modules
apps/web/node_modules
apps/web/.next/*
!apps/web/.next/standalone
!apps/web/.next/standalone/**
!apps/web/.next/static
!apps/web/.next/static/**
apps/api/target/*
!apps/api/target/monopolyfun-api-0.1.0-SNAPSHOT.jar
apps/web/allure-results
apps/web/allure-report
apps/web/playwright-report
apps/web/test-results
docs
